@use '../../../../styles/vars' as *;

.projects_list {
  .content {
    width: 100%;
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap-xl;
  width: 100%;
}

.single_project {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  gap: $gap-medium;

  .image {
    max-width: 450px;
    width: 100%;
    aspect-ratio: 3 / 2;
    height: 100%;
    overflow: hidden;
    border-radius: $border-radius;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .text_section {
    display: flex;
    flex-direction: column;
    h2 {
      font-size: $fs-medium;
      color: $primary-accent;
      margin-bottom: $gap-regular;
    }
    .location {
      display: flex;
      align-items: center;
      gap: $gap-tiny;
      color: $secondary-text;
      font-weight: 500;
      margin-bottom: $gap-medium;
    }
    .short_description {
      text-align: left;
      font-size: $fs-regular;
      margin-bottom: $gap-medium;
    }
  }
}

@media (min-width: 800px) {
  .single_project {
    flex-direction: row;
    align-items: center;
    gap: $gap-medium;
    width: 100%;
    max-width: 100% !important;
    .image {
      width: 60%;
    }
    .text_section {
      h2 {
        font-size: $fs-xlarge;
      }
      .short_description {
        margin-top: $gap-small;
        margin-bottom: $gap-large;
      }
    }
  }
}
@media (min-width: 1000px) {
  .single_project {
    gap: $gap-xl;
    .image {
      width: 50%;
    }
  }
}
