@use '../../../../styles/vars' as *;

$gradient-background-point-1: #d1eefc;
$gradient-background-point-2: #97d6f9;
$gradient-background: linear-gradient(
  to right,
  $gradient-background-point-1,
  $gradient-background-point-2
);

.what_we_do {
  background: $gradient-background;

  p {
    margin-top: $gap-large;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $gap-xl;
    .button_container_desktop {
      display: none;
    }
    .services {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: $gap-large;
      width: 100%;
      .service {
        display: flex;
        flex-shrink: 0;
        gap: $gap-regular;
        width: 100%;
        background: $white;

        .service_icon {
          display: flex;
          flex-shrink: 0;
          justify-content: center;
          align-items: center;
          height: 54px;
          width: 54px;
          border: 1px solid $secondary-text;
          border-radius: 50%;
          margin: auto 0;
          .icon {
            height: 30px;
            width: 30px;
            color: $secondary-accent;
          }
        }
        .text {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          h2 {
            font-size: $fs-medium;
          }
          p {
            text-align: start;
            margin-top: $gap-tiny;
          }
        }
      }
    }
  }
  @media (min-width: 800px) {
    .content {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
      .text_section {
        max-width: 400px;
        min-width: 300px;
        h1,
        p {
          text-align: left;
          width: 100%;
        }
        .button_container_desktop {
          display: flex;
          margin-top: $gap-xl;
        }
      }
    }
    .services {
      max-width: $card-max-width;

      .service_icon {
        height: 60px;
        width: 60px;
        .icon {
          height: 40px;
          width: 40px;
        }
      }
    }
    .button_container_mobile {
      display: none;
    }
  }
}
