@use '../../../../styles/vars' as *;

.why_choose_us {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap-large;
    .top_section {
      display: flex;
      flex-direction: column;
      gap: $gap-large;
    }
    .text_section {
      h1 {
        margin-bottom: $gap-medium;
      }
      p {
        margin: 0 auto;
      }
    }
    .image {
      width: 100%;
      max-width: 550px;
      margin: 0 auto;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }

  @media (min-width: 800px) {
    .content {
      .top_section {
        flex-direction: row;
        gap: $gap-xl;

        .text_section {
          justify-content: flex-start;
          h1,
          p {
            text-align: left;
            padding: 0;
            margin-left: 0;
          }
        }
      }
    }
  }
}
