@use '../../../../styles/vars' as *;

.why_choose_us {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap-large;
    .top_section {
      display: flex;
      flex-direction: column;
      gap: $gap-large;
    }
    .text_section {
      h1 {
        margin-bottom: $gap-medium;
      }
      p {
        margin: 0 auto;
      }
    }
    .image {
      width: 100%;
      max-width: 550px;
      margin: 0 auto;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
    .values {
      $value-border: 1px solid $border-color;

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: $gap-medium;
      border-top: $value-border;
      border-bottom: $value-border;
      padding: $gap-large 0;

      .value {
        width: 100%;
        .head {
          display: flex;
          align-items: center;
          gap: $gap-small;
          color: $primary-accent;
          width: 100%;
          // justify-content: center;
          margin-bottom: $gap-regular;
          .value_icon {
            display: flex;
            justify-content: center;
            align-items: center;
            .icon {
              height: 24px;
              width: 24px;
            }
          }
          h2 {
            font-size: $fs-regular;
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }

  @media (min-width: 800px) {
    .content {
      .top_section {
        flex-direction: row;
        gap: $gap-xl;

        .text_section {
          justify-content: flex-start;
          h1,
          p {
            text-align: left;
            padding: 0;
            margin-left: 0;
          }
        }
      }
      .values {
        gap: $gap-xl;
        padding: $gap-xl 0;
      }
    }
  }
}
