@use '../../../styles/vars' as *;

.call_to_action {
  .content {
    overflow: hidden;
    flex-direction: column;
    position: relative;
    background: $primary-accent;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    margin-bottom: $gap-xl;

    .text_section {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: flex;
      gap: $gap-large;
      margin-top: $gap-large;
      padding: 0 $gap-medium;
      h1 {
        font-size: $fs-large;
        text-align: center;
      }
      p {
        font-size: $fs-small;
        font-weight: 600;
      }
      h1,
      p {
        color: $primary-background;
      }
    }
    .image {
      position: relative;
      margin: 0 auto;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 250px;
      border-radius: $border-radius;

      img {
        position: absolute;
        bottom: 0;
        margin-top: 50%;
        width: 130%;
        height: 200px;
        object-fit: cover;
        object-position: top;
      }
    }
  }

  @media (min-width: 800px) {
    .content {
      display: flex;
      flex-direction: row;
      .text_section {
        align-items: flex-start;
        margin-bottom: $gap-large;
        margin-left: $gap-large;
        h1,
        p {
          text-align: left;
          max-width: 400px;
        }
      }
      .image {
        // height: 100%;
        width: 600px;
        align-items: flex-end;
        justify-content: flex-end;
        img {
          top: 0;
          bottom: 0;
          left: 0;
          margin: auto 0;
          left: 50px;
          height: 200%;
          width: 600px;
          object-position: left;
        }
      }
    }
  }

  &.gradient {
    padding-top: $gap-3xl;
    background: linear-gradient(
      to bottom,
      $primary-accent,
      $primary-background
    );
  }
}
