@use '../../../styles/vars' as *;

.values {
  $value-border: 1px solid $border-color;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: $gap-medium;

  padding: $gap-large 0;

  &.border_true {
    border-top: $value-border;
    border-bottom: $value-border;
  }

  .value {
    width: 100%;
    .head {
      display: flex;
      align-items: center;
      gap: $gap-small;
      color: $primary-accent;
      width: 100%;
      // justify-content: center;
      margin-bottom: $gap-regular;
      .value_icon {
        display: flex;
        justify-content: center;
        align-items: center;
        .icon {
          height: 24px;
          width: 24px;
        }
      }
      h2 {
        font-size: $fs-regular;
        width: 100%;
        text-align: center;
      }
    }
  }
  @media (min-width: 800px) {
    gap: $gap-xl;
    padding: $gap-xl 0;

    &.small {
      gap: $gap-large;
    }
    &.left {
      justify-content: flex-start;
    }
  }

  &.small {
    border: 0;
  }
  &.left {
    justify-content: center;
    width: fit-content;
    padding: 0;
  }
}
