@use '../../../../styles/vars' as *;

.contact_form {
  .content {
    .form_content {
      h1 {
        margin-bottom: $gap-regular;
      }
      h1,
      p {
        text-align: left;
      }
      .contact_info {
        margin-top: $gap-large;
        display: flex;
        flex-direction: column;
        gap: $gap-regular;
        .contact_item {
          display: flex;
          align-items: center;
          gap: $gap-small;
          color: $primary-accent;
          a {
            color: $primary-accent;
            font-weight: 500;
          }
          .icon_container {
            display: flex;
            justify-content: center;
            align-items: center;

            .icon {
              height: 22px;
              width: 22px;
              // stroke-width: 1;
            }
          }
        }
      }
    }
  }
}
